
<style>

html{
    color:lime;
    background-image:url('0abc.png');
    background-size:100% auto;
    background-color:black;
    color:lime;
}
    @font-face {
	font-family: 'MyFont';
	src: url('PixelMplus12-Regular.ttf');
}

body {
background-image:url('0abc.png');
font-family: MyFont;
font-size:30px;
background-color:black;
color:lime;
}
h1{
margin:0px 0px
font-size:10px;
}
table{
font-size:40px;
}
.parent{
display: flex;
}
button{
font-size:48px;
background-color:black;
    color:lime
font-family: MyFont;
}
input{
background-color:black;
    color:lime
font-family: MyFont;
width:80%;
font-size:60px;
}
#result{
background-color:black;
    color:lime
resize: none;
width:100%;
font-size:50px;

font-family: MyFont;
}
.parent {
 display: flex;
 }
 
.child {
 color: #0f0;
 border: solid 1px #fff;
 text-align: center;
 line-height: 200px;
 width: 200px;
 height: 200px;
 background-color: black;
 font-family: MyFont;
}
</style>
